[submodule "hyper/thirdparty/spdlog"]
	path = hyper/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "hyper/thirdparty/fmt"]
	path = hyper/thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "hyper/thirdparty/json"]
	path = hyper/thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "hyper/thirdparty/glfw"]
	path = hyper/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
